.menu{
    list-style:none;
    border-bottom:0.1rem solid black;
    margin-bottom:2rem;
    padding:0 0 0.5rem;
}
.menu li{
    display: inline;
}
.menu:before{
    content:"[";
}
.menu:after{
    content:"]";
}
.menu >li +li:before{
    content:"|";
    padding-right:0.3rem;
}